#paineis-sobre {
	margin-top: 20px;
}

.navbar-toggle {
	margin-top: 15px;
}

.navbar-brand {
	margin-bottom: 1em;
}

.nav {
	margin-top: .5em;
	font-size: 120%;
}

#titulo {
	text-align: center;
	margin: 0 0 1em 0;
}

.borda {
	border: 1px solid black;
    border-radius: 20px;
    margin: 1em;
    padding: 1em;
}

.borda-nome {
	font-size: medium;
	text-align: center;
}

.seta {
	text-align: center;
	font-size: 200%;
	margin: 0px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  text-align: center;
  font-size: medium;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




footer {
	background-color: #333333;
	color: white;
	padding: 20px;
	margin-top: 30px;
	text-align: center;
}





